#Terraform
**/.terraform/*
.terraform/*

*.tfstate
*.tfstate.*

*.tfvars
variables.tf

## Ignore CLI configuration files
.terraformrc
terraform.rc

#vscode settings
.vscode

#ansible
ansible.cfg
aws_instance_ips.ini
playbooks/variables.yaml